@charset "UTF-8";
//*************************************************************
// NTT Communications
// 基本 !important で作成する。
//*************************************************************/

$color-custom: true; // custom flag

$main-color: #16834c;

/* color定義 */
$color-gray: #5D5D5D;
$color-gray-1: #DDDDDD;

$color-gray: #8b91a0;
$color-red: #f35958;
$color-red-1: #F5A3A2;
$color-blue: #37b0e9;
$color-blue-1: #7FCAED;
$color-yellow: #f7cf5e;
$color-yellow-1: #F8E4A9;
$color-green: #16834c;
$color-green-1: #61CF98;
/* アンカータグ */
$color-anchor: #16834c;
$color-anchor-hover: #16834c;
