@charset "UTF-8";

/* except below bootstrap elements */
.img-circle {
  border-radius: 50% !important; }

.img-rounded {
  border-radius: 6px !important; }

/* fa-icon size */
.fa-14px {
  font-size: 14px;
  line-height: 0.75em;
}

.fa-20px {
  font-size: 20px;
  line-height: 0.75em;
}

.fa-24px {
  font-size: 24px;
  line-height: 0.75em;
}

.fa-30px {
  font-size: 30px;
  line-height: 0.75em;
}

.fa-40x{
  font-size: 40px;
  line-height: 0.75em;
}

.fa-50x{
  font-size: 50px;
  line-height: 1em;
}

.fa-60x{
  font-size: 60px;
  line-height: 1em;
}

.fa-70x{
  font-size: 70px;
  line-height: 1em;
}

.fa-80x{
  font-size: 80px;
  line-height: 1em;
}

.fa-90x{
  font-size: 90px;
  line-height: 1em;
}

.fa-100x{
  font-size: 100px;
  line-height: 1em;
}

/* circle */
.rounded-x {
  border-radius: 50% !important;
}


/* icon custom */
.icon-custom {
  /* border: 1px solid #686868; */
  color: #fff;
  background: #686868 none repeat scroll 0 0;
  display: inline-block;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
  text-align: center;
  width: 25px;
}

/* icon-btn */
.icon-btn {
  background-color: #fafafa;
  background-image: none;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #646464;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 0 5px 0 0;
  /* min-width: 100px; */
  min-width: 90px;
  padding: 12px 0 0;
  position: relative;
  text-align: center;
  text-shadow: none;
  transition: all 0.3s ease 0s;
}

.icon-btn > .badge {
  border-radius: 12px;
  border-style: solid;
  border-width: 0;
  box-shadow: none;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  padding: 3px 6px;
  position: absolute;
  right: -5px;
  text-shadow: none;
  top: -5px;
}

.badge {
  text-shadow: none;
  font-weight: 600;
  background-color: #d1dade;
  font-size: 11px;
  padding-left:6px;
  padding-right:6px;
  padding-bottom: 4px;
  color: #5E5E5E;
}

/***
Customized Bootstrap Labels
***/

.label {
  display: inline;
  padding: 2px 8px;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &.label-sm {
    font-size: 13px;
    padding: 2px 5px 2px 5px;
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    font-size:75%;
  }
}

/* Labels variants */
@each $name, $colors in $component-colors {
  .label-#{$name} {
    @include label-variant(map-get($colors, base));
  }
}

/***
Iconic labels
***/

.label.label-icon {
  padding: 4px 0px 4px 4px;
  margin-right: 2px;
  text-align: center !important;

  > i {
    font-size: 12px;
    text-align: center !important;
  }

  .ie8 &,
  .ie9 & {
    padding: 3px 0px 3px 3px;
  }
}


