@charset "UTF-8";

/************************************************************
* Global layout
*************************************************************/

//section layout
section {
  @media only screen and (max-width: 992px) {
    margin: 0 10px;
  }
  @media (max-width: 767px) {
    margin: 0 10px;
  }
}

//audio layout
audio {
  width: 350px;
}

/************************************************************
* bootstrap custom
*************************************************************/

//alert
.alert {
  margin-bottom: 10px;
  .close-button {
    opacity: 1.0;
    position: absolute;
    top: 5px;
    right: 10px;

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

// 緊急
.alert-emergency {
  border: solid 2px $color-red;
}

.alert-topics {
  border: solid 1px $color-grey-1;
}

/************************************************************
* CF
*************************************************************/
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

/************************************************************
* Horizontal break
*************************************************************/

hr {
  background-image: linear-gradient(to right, transparent, #ffffff, transparent);
  border: 0 none;
  height: 1px;
  margin: 5px 0;
}
hr.short {
  margin: 10px 0;
}
hr.tall {
  margin: 20px 0;
}
hr.taller {
  margin: 40px 0;
}
hr.solid {
  background: #dbdbdb none repeat scroll 0 0;
}
hr.light {
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent);
}
hr.dashed {
  border-top: 1px dashed #dbdbdb;
}


/************************************************************
 * float
 ************************************************************/
.fl { float: left; }
.fr { float: right;}
.fn { float: none !important;}
.cb { clear: both; }

/**************************************************************
 * box
**************************************************************/

.admin-portlet-box {
  padding: 12px 20px 15px;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.admin-portlet-side-box {
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.admin-portlet-image-box {
  padding: 12px 0 15px;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.white-box {
  padding: 10px 20px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.gray-body-box {
  padding: 10px 20px;
  background-color: $color-grey-body;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.side-gray-body-box-2 {
  padding: 10px 5px;
  background-color: $color-grey-body-2;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.blue-box {
  padding: 10px 20px;
  color: #fff;
  background: $color-aqua;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.name-box {
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 1px 5px 0 #dde5ee;
}


/*------------------------------------
  Box-shadows Styles
------------------------------------*/

.u-shadow-none {
  box-shadow: none !important;

  &--focus:focus {
    box-shadow: none !important;
  }

  &--parent-hover {
    .g-parent:hover & {
      box-shadow: none !important;
    }
  }
}

/*------------------------------------
  Box-shadows-v1
------------------------------------*/

.u-shadow-v1 {
  &-1 {
    box-shadow: 0 0 5px $g-color-gray-dark-v5;
  }
  &-2 {
    box-shadow: 0 0 10px $g-color-gray-dark-v5;

    &--hover:hover {
      box-shadow: 0 0 10px $g-color-gray-dark-v5;
    }

    &--hover-parent {
      .g-parent:hover & {
        box-shadow: 0 0 10px $g-color-gray-dark-v5;
      }
    }
  }
  &-3 {
    box-shadow: 0 0 5px $g-color-gray-light-v3;
  }
  &-4 {
    box-shadow: 0 0 5px rgba($g-color-black, .1);
  }
  &-5 {
    box-shadow: 0 0 20px rgba($g-color-black, .2);

    &--hover:hover {
      box-shadow: 0 0 20px rgba($g-color-black, .2);
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 20px rgba($g-color-black, .2);
      }
    }
  }
  &-6 {
    box-shadow: 0 0 10px rgba($g-color-black, .2);

    &--hover:hover {
      box-shadow: 0 0 10px rgba($g-color-black, .2);
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 10px rgba($g-color-black, .2);
      }
    }
  }

  &-7 {
    box-shadow: 0 0 8px $g-color-gray-light-v4;

    &--hover:hover {
      box-shadow: 0 0 8px $g-color-gray-light-v4;
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 8px $g-color-gray-light-v4;
      }
    }
  }
}

/*------------------------------------
  Box-shadows-v2
------------------------------------*/
.u-shadow-v2 {
  box-shadow: 0 10px 6px -6px rgba($g-color-black, .2);
}

/*------------------------------------
  Box-shadows-v3-v4-v5
------------------------------------*/
%box-shadow {
  position: relative;
}
%box-shadow--after-before {
  content: "";
  position: absolute;
  top: 80%;
  left: 5px;
  bottom: 15px;
  width: 50%;
  max-width: 300px;
  background: rgba($g-color-black, .2);
  z-index: -1;
}
.u-shadow-v3,
.u-shadow-v4,
.u-shadow-v5 {
  @extend %box-shadow;
}
.u-shadow-v3::after,
.u-shadow-v3::before,
.u-shadow-v4::before,
.u-shadow-v5::after {
  @extend %box-shadow--after-before;
  box-shadow: 0 15px 10px rgba($g-color-black, .2);
  transform: rotate(-3deg);
}
.u-shadow-v3::after,
.u-shadow-v5::after {
  @extend %box-shadow--after-before;
  left: auto;
  right: 5px;
  transform: rotate(3deg);
}


.gray-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey;
}

.gray-1-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-1;
}

.gray-2-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-2;
}

.gray-3-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-2;
}

.dark-box-1 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.9);
}

.dark-box-2 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.8);
}

.dark-box-3 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.7);
}

.dark-box-4 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.6);
}

.form-box {
  color: #000154;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.7);
}

/**************************************************************
 * 画像サイズ関連
**************************************************************/

@for $i from 1 through 100 {
  .img-#{$i} {
    display: block;
    height: auto;
    max-width: 0% + $i;
  }
}

/************************************************************
 * animete ディレイ関係
 ************************************************************/
@for $i from 1 through 500 {
  .animed-#{$i * 10} {
    animation-delay: #{$i * 10}px;
  }
  .animed-#{$i * 10}-i {
    animation-delay: #{$i * 10}px !important;
  }
}

.opa-10 { opacity: 1.0; }
.opa-08 { opacity: 0.8; }
.opa-06 { opacity: 0.6; }
.opa-04 { opacity: 0.4; }
.opa-02 { opacity: 0.2; }

.animated-infinite { animation-iteration-count: infinite; }

/************************************************************
* font background Color Palette
************************************************************/

/* Standard Color */
.f-white  { color: $color-white; }
.bg-white { background: none repeat scroll 0 0 $color-white; }

/* color black */
.f-black   { color: $color-black;   }
.f-black-1 { color: $color-black-1; }
.f-black-2 { color: $color-black-2; }
.f-black-3 { color: $color-black-3; }
.f-black-4 { color: $color-black-4; }
.f-black-5 { color: $color-black-5; }

.bg-black   { background: none repeat scroll 0 0 $color-black; }
.bg-black-1 { background: none repeat scroll 0 0 $color-black-1; }
.bg-black-2 { background: none repeat scroll 0 0 $color-black-2; }
.bg-black-3 { background: none repeat scroll 0 0 $color-black-3; }
.bg-black-4 { background: none repeat scroll 0 0 $color-black-4; }
.bg-black-5 { background: none repeat scroll 0 0 $color-black-5; }

/* color dark */
.f-dark   { color: $color-dark;   }
.f-dark-1 { color: $color-dark-1; }
.f-dark-2 { color: $color-dark-2; }
.f-dark-3 { color: $color-dark-3; }
.f-dark-4 { color: $color-dark-4; }
.f-dark-5 { color: $color-dark-5; }

.bg-dark   { background: none repeat scroll 0 0 $color-dark; }
.bg-dark-1 { background: none repeat scroll 0 0 $color-dark-1; }
.bg-dark-2 { background: none repeat scroll 0 0 $color-dark-2; }
.bg-dark-3 { background: none repeat scroll 0 0 $color-dark-3; }
.bg-dark-4 { background: none repeat scroll 0 0 $color-dark-4; }
.bg-dark-5 { background: none repeat scroll 0 0 $color-dark-5; }

/* color gray */
.f-gray    { color: $color-grey; }
.f-gray-1    { color: $color-grey-1; }
.f-gray-2    { color: $color-grey-2; }
.f-gray-3    { color: $color-grey-3; }

.bg-gray   { background: none repeat scroll 0 0 $color-grey; }
.bg-gray-1   { background: none repeat scroll 0 0 $color-grey-1; }
.bg-gray-2   { background: none repeat scroll 0 0 $color-grey-2; }
.bg-gray-3   { background: none repeat scroll 0 0 $color-grey-3; }

.bg-gray-body { background: none repeat scroll 0 0 $color-grey-body; }
.bg-gray-body-2 { background: none repeat scroll 0 0 $color-grey-body-2; }

/* color pink */
.f-pink  { color: $color-pink; }
.f-pink2 { color: #ff4574; }
.f-pink3 { color: #f12b5b; }

.bg-pink { background: none repeat scroll 0 0 $color-pink; }
.bg-pink2 { background: none repeat scroll 0 0 #ff4574; }
.bg-pink3 { background: none repeat scroll 0 0 #f12b5b; }

/* Default Color Palette 基本8色 */
.f-red     { color: $color-red; }
.f-blue    { color: $color-blue; }
.f-yellow  { color: $color-yellow; }
.f-green   { color: $color-green; }
.f-emerald { color: $color-emerald; }
.f-purple  { color: $color-purple; }
.f-blue-com { color: $color-com; }

.f-blue-ws { color: $color-blue-ws; }
.bg-blue-ws { color: $color-blue-ws; }

.bg-red    　{ background: none repeat scroll 0 0 $color-red; }
.bg-blue   　{ background: none repeat scroll 0 0 $color-blue; }
.bg-yellow 　{ background: none repeat scroll 0 0 $color-yellow; }
.bg-green  　{ background: none repeat scroll 0 0 $color-green; }
.bg-emerald　{ background: none repeat scroll 0 0 $color-emerald; }
.bg-purple 　{ background: none repeat scroll 0 0 $color-purple; }

/* Pastel Color Palette 基本8色 */
.f-green-Pastel  { color: #19b3a5; }
.f-red-Pastel    { color: #EB6D73; }
.f-yellow-Pastel { color: #F9E642; }
.f-blue-Pastel   { color: #006A97; }
.f-aqua-Pastel   { color: #67BFD7; }

.bg-green-Pastel  { background: none repeat scroll 0 0 #19b3a5;}
.bg-red-Pastel    { background: none repeat scroll 0 0 #EB6D73;}
.bg-yellow-Pastel { background: none repeat scroll 0 0 #F9E642;}
.bg-blue-Pastel   { background: none repeat scroll 0 0 #006A97;}
.bg-aqua-Pastel   { background: none repeat scroll 0 0 #67BFD7;}

/* Color Palette 2 基本8色 */
.f-green2   { color: #3dbda3; }
.f-aqua2    { color: #e0f8fa; }
.f-blue2    { color: #5ba5d6; }
.f-red2     { color: #ff7e7e; }
.f-purple2  { color: #9a78c0; }
.f-yellow2  { color: #ffbe71; }
.f-gray2    { color: #f6f6f6; }

.bg-green2  { background: none repeat scroll 0 0 #3dbda3; }
.bg-aqua2   { background: none repeat scroll 0 0 #e0f8fa; }
.bg-red2    { background: none repeat scroll 0 0 #ff7e7e; }
.bg-yellow2 { background: none repeat scroll 0 0 #ffbe71; }
.bg-blue2   { background: none repeat scroll 0 0 #5ba5d6; }
.bg-gray2   { background: none repeat scroll 0 0 #f6f6f6; }
.bg-purple2 { background: none repeat scroll 0 0 #9a78c0; }

/* Color Palette 3 */
.f-blue3   { color: #4a69e6; }
.f-green3  { color: #64d9cf; }
.f-red3    { color: #EB305E; }
.f-aqua3   { color: #e0f8fa; }
.f-gray3   { color: #f1f1f1; }

.bg-blue3   { background: none repeat scroll 0 0 #4a69e6; }
.bg-green3  { background: none repeat scroll 0 0 #64d9cf; }
.bg-aqua3   { background: none repeat scroll 0 0 #e0f8fa; }
.bg-red3    { background: none repeat scroll 0 0 #EB305E; }
.bg-gray3   { background: none repeat scroll 0 0 #f1f1f1; }

/* background-linear-gradient */
.bg-gra-l-red { background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, $color-red-1, #FFF 100%, $color-red-1 75%, #FFF)repeat scroll 0 0 / 4px 4px; }
.bg-gra-l-red-1 {background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, #ECAEAE, #FFF 100%, #ECAEAE 75%, #FFF)repeat scroll 0 0 / 4px 4px;}

.bg-gra-l-blue { background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, $color-blue-1, #FFF 100%, $color-blue-1 75%, #FFF)repeat scroll 0 0 / 4px 4px; }
.bg-gra-l-yellow { background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, $color-yellow-1, #FFF 100%, $color-yellow-1 75%, #FFF)repeat scroll 0 0 / 4px 4px; }
.bg-gra-l-green { background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, $color-green-1, #FFF 100%, $color-green-1 75%, #FFF)repeat scroll 0 0 / 4px 4px; }


/************************************************************
* General typography
************************************************************/

/* text-decoration */
.tdu { text-decoration: underline; } /* アンダーライン */
.tdb { text-decoration: blink; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }

.top10 { top:10px; }
.top20 { top:20px; }
.top30 { top:30px; }
.top40 { top:40px; }
.top50 { top:50px; }
.top60 { top:60px; }

.left50 { left: 50%; }

.td-vm { vertical-align: middle !important; }

/************************************************************
* font-size
************************************************************/


//font-size
@for $i from 1 through 100 {
  .fs#{$i} {
    font-size: #{$i}px;
  }
  .fs#{$i}i {
    font-size: #{$i}px !important;
  }
}

/* font-weight  */
.fwb100 { font-weight: 100; }
.fwb200 { font-weight: 200; }
.fwb300 { font-weight: 300; }
.fwn { font-weight: normal; }
.fwb500 { font-weight: 500; }
.fwb600 { font-weight: 600; }
.fwb { font-weight: bold; }
.fwb800 { font-weight: 800; }
.fwb900 { font-weight: 900; }
.fwb600 { font-weight: 600; }

/*****************************************
* letter-spacing
******************************************/

.lp1 { letter-spacing: 1px;}
.lp2 { letter-spacing: 2px;}
.lp3 { letter-spacing: 3px;}
.lp4 { letter-spacing: 4px;}
.lp5 { letter-spacing: 5px;}
.lp6 { letter-spacing: 6px;}
.lp7 { letter-spacing: 7px;}
.lp8 { letter-spacing: 8px;}
.lp9 { letter-spacing: 9px;}
.lp10 { letter-spacing: 10px;}


/*****************************************
* width設定
******************************************/

@for $i from 1 through 1000 {
  .w#{$i} {
    width: #{$i}px;
  }
  .mw#{$i} {
    max-width: #{$i}px;
  }
}

.w1024 { width: 1024px; }

.w15pct { width: 15%; }
.w20pct { width: 20%; }
.w25pct { width: 25%; }
.w30pct { width: 30%; }
.w80pct { width: 80%; }
.w100pct{ width: 100%; }


/************************************************************
* height
*************************************************************/

// height 1 ~ 1000px まで
// example
// ht120 => height: 120px;
@for $i from 1 through 1000 {
  .ht#{$i} {
    height: #{$i}px;
  }
}

/************************************************************
 * bootstrap padding
 * default
 ************************************************************/

// 250pxまで定義
@for $i from 0 through 250 {
  .pd#{$i} {
    padding: #{$i}px;
  }
  .pdt#{$i} {
    padding-top: #{$i}px;
  }
  .pdb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pdr#{$i} {
    padding-right: #{$i}px;
  }
  .pdl#{$i} {
    padding-left: #{$i}px;
  }
  /* padding-height 上下高さ */
  .pdh#{$i} {
    padding: #{$i}px 0;
  }
}

// 250pxまで定義
@for $i from 0 through 250 {
  .pd#{$i}i {
    padding: #{$i}px !important;
  }
  .pdt#{$i}i {
    padding-top: #{$i}px !important;
  }
  .pdb#{$i}i {
    padding-bottom: #{$i}px !important;
  }
  .pdr#{$i}i {
    padding-right: #{$i}px !important;
  }
  .pdl#{$i}i {
    padding-left: #{$i}px !important;
  }
  /* padding-height 上下高さ */
  .pdh#{$i}i {
    padding: #{$i}px 0 !important;
  }
}

/* margin */
.mg0auto  { margin: 0 auto; }
.mgr-auto { margin-right: auto !important; }
.mgl-auto { margin-left: auto !important; }

// 250pxまで定義
@for $i from 0 through 250 {
  .mg#{$i} {
    margin: #{$i}px;
  }
  .mgh#{$i} {
    margin: #{$i}px 0;
  }
  .mgs#{$i} {
    margin: 0 #{$i}px;
  }
  .mgl#{$i} {
    margin-left: #{$i}px;
  }
  .mgr#{$i} {
    margin-right: #{$i}px;
  }
  .mgt#{$i} {
    margin-top: #{$i}px;
  }
  .mgb#{$i} {
    margin-bottom: #{$i}px;
  }
}

// 250pxまで定義
@for $i from 0 through 250 {
  .mg#{$i}i {
    margin: #{$i}px !important;
  }
  .mgh#{$i}i {
    margin: #{$i}px !important;
  }
  .mgs#{$i}i {
    margin: 0 #{$i}px !important;
  }
  .mgl#{$i}i {
    margin-left: #{$i}px !important;
  }
  .mgr#{$i}i {
    margin-right: #{$i}px !important;
  }
  .mgt#{$i}i {
    margin-top: #{$i}px !important;
  }
  .mgb#{$i}i {
    margin-bottom: #{$i}px !important;
  }
}


/*************************************************************
   line-height 行間関係
*************************************************************/

.lh10 { line-height: 10px; }
.lh11 { line-height: 11px; }
.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }
.lh14 { line-height: 14px; }
.lh15 { line-height: 15px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }
.lh19 { line-height: 19px; }
.lh20 { line-height: 20px; }
.lh21 { line-height: 21px; }
.lh22 { line-height: 22px; }
.lh23 { line-height: 23px; }
.lh24 { line-height: 24px; }
.lh25 { line-height: 25px; }
.lh26 { line-height: 26px; }
.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }
.lh29 { line-height: 29px; }
.lh30 { line-height: 30px; }
.lh31 { line-height: 31px; }
.lh32 { line-height: 32px; }
.lh33 { line-height: 33px; }
.lh34 { line-height: 34px; }
.lh35 { line-height: 35px; }
.lh36 { line-height: 36px; }
.lh37 { line-height: 37px; }
.lh38 { line-height: 38px; }
.lh39 { line-height: 39px; }
.lh40 { line-height: 40px; }

/*************************************************************
/* border: #5f6f7e
*************************************************************/

.b-gray { border: 1px solid $color-grey; }
.b-gray-1 { border: 1px solid $color-grey-1; }

.bb-sol-green { border-bottom: 2px solid $color-green; }
.bb-sol-pastel-green { border-bottom: 1px solid #0aa699 !important; }

.bb-g { border-bottom: 2px solid #b7bbbf; }
.bb-sol-blue { border-bottom: 1px solid $color-blue; }
.bb-dot-blue { border-bottom: 1px solid $color-blue; }

.b-sol  { border:solid 1px #ccc; }
.b-sol-black { border:solid 1px #5A5A5A;}

.bt-sol { border-top:solid 1px #ccc; }
.bb-sol { border-bottom:solid 1px #ccc; }
.bl-sol { border-left:solid 1px #ccc; }
.br-sol { border-right:solid 1px #ccc; }

.br-sol-ddd { border-right:solid 1px #ddd; }

.bt-sol-black { border-top:solid 1px #5A5A5A; }
.bb-sol-black { border-bottom:solid 1px #5A5A5A; }
.bl-sol-black { border-left:solid 1px #5A5A5A; }
.br-sol-black { border-right:solid 1px #5A5A5A; }

.bb-sol-dadada { border-bottom: 1px #DADADA;}

.bt-dot { border-top:dotted 1px #ccc; }
.bb-dot { border-bottom:dotted 1px #ccc; }
.bl-dot { border-left: dotted 1px #ccc; }
.br-dot { border-right:dotted 1px #ccc; }

.bt-sol-pastel-red { border-top: 4px solid #f35958;}
.bt-sol-pastel-blue { border-top: 4px solid #0090d9; }
.bt-sol-pastel-purple { border-top: 4px solid #735f87; }
.bt-sol-pastel-green { border-top: 4px solid #0aa699; }

/* text pick up: 4px 8px; */
.bl-sol-pick-666 {
  border-left: 3px solid #666;
  padding: 4px 8px;
}

.bl-sol-pastel-green  {
  border-left: 3px solid #0aa699;
  padding: 4px 8px;
}

.bl-sol-pick-green {
  border-left: 3px solid $color-green;
  padding: 4px 8px;
}

.bl-sol-pick-blue {
  border-left: 3px solid $color-blue;
  padding: 4px 8px;
}

.bl-sol-pick-red {
  border-left: 3px solid $color-red;
  padding: 4px 8px;
}

/* border radius */
@for $i from 1 through 100  {
  .bdr#{$i} {
    border-radius: #{$i}px;
  }
}

/* center-align */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

/* vertical-align */
.v-top { vertical-align: top; }
.v-middle { vertical-align: middle; }
.v-bottom { vertical-align: bottom; }

// 上下中央
.box-center {
  display: table-cell;
  vertical-align: middle !important;
  text-align: center !important;
}

.img-center { display: block;margin: 0 auto; }
.img-wide { width: 100%;height: auto; }

.ofh { overflow:hidden; }

.dsn { display: none; }
.dspn { display: none; }
.dsp { display: block; }
.dspb { display: block; }
.dsp-ib { display: inline-block; }

/*****************************************
* position 設定
******************************************/

.pos-a { position: absolute; }
.pos-r { position: relative; }
.pos-f { position: fixed; }

// important設定
@for $i from 1 through 250  {
  .top#{$i} {
    top: #{$i}px !important;
  }
  .bottom#{$i} {
    bottom: #{$i}px !important;
  }
  .left#{$i} {
    left: #{$i}px !important;
  }
  .right#{$i} {
    right: #{$i}px !important;
  }
}

/*************************************************************
/* 動画関連 youtube
*************************************************************/
.youtube {
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
  padding-top: 69px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50%;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*************************************************************
/* グリッドデザイン手動リセット関連
*************************************************************/
.col-reset {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-reset10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.col-reset15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.col-reset20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.boot-pd20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.boot-pd15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.boot-pd10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.boot-pd0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*************************************************************
【marginの設定】!importantあり
*************************************************************/
.m0{margin:0 !important}			/* margin 0px を指定するクラス */
.mt0{margin-top:0 !important}		/* margin-top0px を指定するクラス */
.mr0{margin-right:0 !important}		/* margin-right0px を指定するクラス*/
.mb0{margin-bottom:0 !important}	/* margin-bottom0px を指定するクラス*/
.ml0{margin-left:0 !important}		/* margin-left0px を指定するクラス*/

.m5{margin:5px !important}
.mt5{margin-top:5px !important}
.mr5{margin-right:5px !important}
.mb5{margin-bottom:5px !important}
.ml5{margin-left:5px !important}

.m10{margin:10px !important}
.mt10{margin-top:10px !important}
.mr10{margin-right:10px !important}
.mb10{margin-bottom:10px !important}
.ml10{margin-left:10px !important}

.m15{margin:15px !important}
.mt15{margin-top:15px !important}
.mr15{margin-right:15px !important}
.mb15{margin-bottom:15px !important}
.ml15{margin-left:15px !important}

.m20{margin:20px !important}
.mt20{margin-top:20px !important}
.mr20{margin-right:20px !important}
.mb20{margin-bottom:20px !important}
.ml20{margin-left:20px !important}

.m25{margin:25px !important}
.mt25{margin-top:25px !important}
.mr25{margin-right:25px !important}
.mb25{margin-bottom:25px !important}
.ml25{margin-left:25px !important}

.m30{margin:30px !important}
.mt30{margin-top:30px !important}
.mr30{margin-right:30px !important}
.mb30{margin-bottom:30px !important}
.ml30{margin-left:30px !important}

.m35{margin:35px !important}
.mt35{margin-top:35px !important}
.mr35{margin-right:35px !important}
.mb35{margin-bottom:35px !important}
.ml35{margin-left:35px !important}

.m40{margin:40px !important}
.mt40{margin-top:40px !important}
.mr40{margin-right:40px !important}
.mb40{margin-bottom:40px !important}
.ml40{margin-left:40px !important}

.m45{margin:45px !important}
.mt45{margin-top:45px !important}
.mr45{margin-right:45px !important}
.mb45{margin-bottom:45px !important}
.ml45{margin-left:45px !important}

.m50{margin:50px !important}
.mt50{margin-top:50px !important}
.mr50{margin-right:50px !important}
.mb50{margin-bottom:50px !important}
.ml50{margin-left:50px !important}

.m55{margin:55px !important}
.mt55{margin-top:55px !important}
.mr55{margin-right:55px !important}
.mb55{margin-bottom:55px !important}

.ml55{margin-left:55px !important}
.m60{margin:60px !important}
.mt60{margin-top:60px !important}
.mr60{margin-right:60px !important}
.mb60{margin-bottom:60px !important}
.ml60{margin-left:60px !important}

.m65{margin:65px !important}
.mt65{margin-top:65px !important}
.mr65{margin-right:65px !important}
.mb65{margin-bottom:65px !important}
.ml65{margin-left:65px !important}

.m70{margin:70px !important}
.mr70{margin-right:70px !important}
.mb70{margin-bottom:70px !important}
.ml70{margin-left:70px !important}

.m75{margin:75px !important}
.mt75{margin-top:75px !important}
.mr75{margin-right:75px !important}
.mb75{margin-bottom:75px !important}
.ml75{margin-left:75px !important}

.m80{margin:80px !important}
.mt80{margin-top:80px !important}
.mr80{margin-right:80px !important}
.mb80{margin-bottom:80px !important}
.ml80{margin-left:80px !important}

/**************************************************************
【paddingの設定】
**************************************************************/
.p0{padding:0 !important}			/* padding-0px を指定するクラス */
.pt0{padding-top:0 !important}		/* padding-top0px を指定するクラス */
.pr0{padding-right:0 !important}	/* padding-right0px を指定するクラス */
.pb0{padding-bottom:0 !important}	/* padding-bottom0px を指定するクラス */
.pl0{padding-left:0 !important}		/* padding-left0px を指定するクラス */

.p5{padding:5px !important}
.pt5{padding-top:5px !important}
.pr5{padding-right:5px !important}
.pb5{padding-bottom:5px !important}
.pl5{padding-left:5px !important}

.p10{padding:10px !important}
.pt10{padding-top:10px !important}
.pr10{padding-right:10px !important}
.pb10{padding-bottom:10px !important}
.pl10{padding-left:10px !important}

.p15{padding:15px !important}
.pt15{padding-top:15px !important}
.pr15{padding-right:15px !important}
.pb15{padding-bottom:15px !important}
.pl15{padding-left:15px !important}

.p20{padding:20px !important}
.pr20{padding-right:20px !important}
.pl20{padding-left:20px !important}

.p70{padding:70px !important}
.pr70{padding-right:70px !important}
.pl70{padding-left:70px !important}

/**************************************************************
 Landing page Width設定
**************************************************************/
.lpmw           { max-width: 960px !important; }
.lpmw-800       { width: 800px !important; }
.lpmw-940       { width: 940px !important; }
.lpmw-960       { width: 960px !important; }

/**************************************************************
　デコレーション関連
**************************************************************/
.marker_yellow {
  background: linear-gradient(transparent 60%, #fff53e 60%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/**************************************************************
 Tablet
 768 ~ 1200px
**************************************************************/
@media only screen and (max-width: $g-xl) {

  .md-dsn { display: none !important;}
  .md-dsp { display: block !important; }

  /**************************************************************
  【画像サイズ関係】
  **************************************************************/

  /* 25%画像 */
  .img-responsive-25  {
    display: block;
    height: auto;
    width: 25%;
  }
  /* 27%画像 */
  .img-responsive-27  {
    display: block;
    height: auto;
    max-width: 27%;
  }
  /* 30%画像 */
  .img-responsive-30  {
    display: block;
    height: auto;
    max-width: 30%;
  }
  /* 50%画像 */
  .img-responsive-50  {
    display: block;
    height: auto;
    width: 50%;
  }
  /* 75%画像 */
  .img-responsive-75  {
    display: block;
    height: auto;
    width: 75%;
  }

  /* 80%画像 */
  .img-responsive-80  {
    display: block;
    height: auto;
    width: 80%;
  }

  /* 90%画像 */
  .img-responsive-90  {
    display: block;
    height: auto;
    width: 90%;
  }

  .md-cwd5 { width: 5%; }
  .md-cwd10 { width: 10%; }
  .md-cwd20 { width: 20%; }
  .md-cwd30 { width: 30%; }
  .md-cwd40 { width: 40%; }
  .md-cwd50 { width: 50%; }
  .md-cwd60 { width: 60%; }

  .md-pl5 { padding-left: 5px !important;}
  .md-pdb10 { padding-bottom: 10px !important; }

  /* md margin 系*/
  .md-mt8 { margin-top: 8px; }
  .md-mt10 { margin-top: 10px; }

  /* フォントサイズ */
  //font-size
  @for $i from 1 through 100 {
    .md-fs#{$i} {
      font-size: #{$i}px !important;
    }
  }

  // width
  @for $i from 0 through 200 {
    .md-w#{$i * 5} {
      width: #{$i * 5}px;
    }
    .md-mw#{$i * 5} {
      max-width: #{$i * 5}px;
    }
  }

  .md-w11 { width: 11px; }
  .md-w12 { width: 12px; }
  .md-w13 { width: 13px; }
  .md-w14 { width: 14px; }

}

/**************************************************************
 Response SmartPhone
**************************************************************/
@media only screen and (max-width: $g-md) {

  /**************************************************************
  タイトル関連
  **************************************************************/

  .sp-fl { float: left; }
  .sp-fr { float: right;}
  .sp-fn { float: none !important;}
  .sp-cb { clear: both; }

  /**************************************************************
  【画像サイズ関係】
  **************************************************************/
  /* 50%画像 */
  .img-responsive-50  {
    display: block;
    height: auto;
    max-width: 50%;
  }
  /* 30%画像 */
  .img-responsive-30  {
    display: block;
    height: auto;
    max-width: 30%;
  }
  /* 25%画像 */
  .img-responsive-25  {
    display: block;
    height: auto;
    max-width: 25%;
  }
  /* 27%画像 */
  .img-responsive-27  {
    display: block;
    height: auto;
    max-width: 27%;
  }
  /* 75%画像 */
  .img-responsive-75  {
    display: block;
    height: auto;
    max-width: 75%;
  }

  /* 80%画像 */
  .img-responsive-80  {
    display: block;
    height: auto;
    width: 80%;
  }

  /* 90%画像 */
  .img-responsive-90  {
    display: block;
    height: auto;
    width: 90%;
  }

  /* SP img block */
  .sp-img-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sp-clear { clear: both; }
  .sp-text-center { text-align: center !important; }

  .sp-ht20 { height: 20px !important;}
  .sp-ht50 { height: 50px !important;}

  .sp-fwb { font-weight: bold !important; }
  .sp-fwb500 { font-weight: 500 !important;}

  /* center-align */
  .sp-text-center { text-align: center !important; }
  .sp-text-right  { text-align: right !important; }
  .sp-text-left   { text-align: left !important; }
  .sp-text-middle { font-weight: 600 !important; }
  .sp-img-center  { margin: 0 auto !important; }

  /* sp margin 系*/
  .sp-mg0 { margin: 0 !important; }
  .sp-pd0 { padding: 0 !important; }

  .sp-pdr0 { padding-right: 0 !important; }
  .sp-pdr10 { padding-right: 10px !important; }
  .sp-pdr20 { padding-right: 20px !important; }

  .sp-pdl0 { padding-left: 0 !important; }
  .sp-pdl10 { padding-left: 10px !important; }
  .sp-pdl20 { padding-left: 20px !important; }

  .sp-pdb0 { padding-bottom: 0 !important; }
  .sp-pdb3 { padding-bottom: 3px !important; }
  .sp-pdb10 { padding-bottom: 10px !important; }
  .sp-pdb20 { padding-bottom: 20px !important; }

  .sp-pdt10 { padding-top: 10px !important; }
  .sp-pdt15 { padding-top: 15px !important; }
  .sp-pdt20 { padding-top: 20px !important; }
  .sp-pdt25 { padding-top: 25px !important; }
  .sp-pdt30 { padding-top: 30px !important; }
  .sp-pdt35 { padding-top: 35px !important; }

  /**************************************************************
  【paddingの設定】
  **************************************************************/

  /* margin */
  //margin-size
  @for $i from 0 through 100 {
    .sp-mg#{$i} {
      margin: #{$i}px !important;
    }
    .sp-mgl#{$i} {
      margin-left: #{$i}px !important;
    }
    .sp-mgt#{$i} {
      margin-top: #{$i}px !important;
    }
    .sp-mgb#{$i} {
      margin-bottom: #{$i}px !important;
    }
    .sp-mgr#{$i} {
      margin-right: #{$i}px !important;
    }
    .sp-p#{$i} {
      padding: #{$i}px !important;
    }
    .sp-pt#{$i} {
      padding-top: #{$i}px !important;
    }
    .sp-pl#{$i} {
      padding-left: #{$i}px !important;
    }
    .sp-pb#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .sp-pr#{$i} {
      padding-right: #{$i}px !important;
    }
  }

  /* フォントサイズ */
  //font-size
  @for $i from 1 through 100 {
    .sp-fs#{$i} {
      font-size: #{$i}px !important;
    }
  }

  .sp-lh13 { line-height: 1.3em !important;}
  .sp-lh15 { line-height: 1.5em !important;}
  .sp-lh16 { line-height: 1.6em !important;}
  .sp-lh18 { line-height: 1.8em !important;}
  .sp-lh20 { line-height: 2.0em !important;}

  .sp-wd100 { width: 100% !important; }

  .sp-dsn { display: none !important;}
  .sp-dsp { display: block !important; }

  /*************************************************************
     sp-line-height
  *************************************************************/

  .sp-lh10 { line-height: 10px; }
  .sp-lh11 { line-height: 11px; }
  .sp-lh12 { line-height: 12px; }
  .sp-lh13 { line-height: 13px; }
  .sp-lh14 { line-height: 14px; }
  .sp-lh15 { line-height: 15px; }
  .sp-lh16 { line-height: 16px; }
  .sp-lh17 { line-height: 17px; }
  .sp-lh18 { line-height: 18px; }
  .sp-lh19 { line-height: 19px; }
  .sp-lh20 { line-height: 20px; }
  .sp-lh21 { line-height: 21px; }
  .sp-lh22 { line-height: 22px; }
  .sp-lh23 { line-height: 23px; }
  .sp-lh24 { line-height: 24px; }
  .sp-lh25 { line-height: 25px; }
  .sp-lh26 { line-height: 26px; }
  .sp-lh27 { line-height: 27px; }
  .sp-lh28 { line-height: 28px; }
  .sp-lh29 { line-height: 29px; }
  .sp-lh30 { line-height: 30px; }
  .sp-lh31 { line-height: 31px; }
  .sp-lh32 { line-height: 32px; }
  .sp-lh33 { line-height: 33px; }
  .sp-lh34 { line-height: 34px; }
  .sp-lh35 { line-height: 35px; }
  .sp-lh36 { line-height: 36px; }
  .sp-lh37 { line-height: 37px; }
  .sp-lh38 { line-height: 38px; }
  .sp-lh39 { line-height: 39px; }
  .sp-lh40 { line-height: 40px; }

  /**************************************************************
    レスポンシブ スマホ対応
  **************************************************************/
}
