@charset "UTF-8";

/************************************************************
* Global layout
*************************************************************/

//section layout
section {
  @media only screen and (max-width: 992px) {
    margin: 0 10px;
  }
  @media (max-width: 767px) {
    margin: 0 10px;
  }
}

//audio layout
audio {
  width: 350px;
}

/************************************************************
* bootstrap custom
*************************************************************/

//alert
.alert {
  margin-bottom: 10px;
  .close-button {
    opacity: 1.0;
    position: absolute;
    top: 5px;
    right: 10px;

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

// 緊急
.alert-emergency {
  border: solid 2px $color-red;
}

.alert-topics {
  border: solid 1px $color-grey-1;
}

/************************************************************
* CF
*************************************************************/
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

/************************************************************
* Horizontal break
*************************************************************/

hr {
  background-image: linear-gradient(to right, transparent, #ffffff, transparent);
  border: 0 none;
  height: 1px;
  margin: 20px;
}

hr.short {
  margin: 10px 0;
}
hr.tall {
  margin: 20px 0;
}
hr.taller {
  margin: 40px 0;
}
hr.solid {
  background: #dbdbdb none repeat scroll 0 0;
}
hr.light {
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent);
}
hr.dashed {
  border-top: 1px dashed #dbdbdb;
}


/************************************************************
 * float
 ************************************************************/
.fl { float: left; }
.fr { float: right;}
.fn { float: none;}
.cb { clear: both; }

.fl-i { float: left !important; }
.fr-i { float: right !important;}
.fn-i { float: none !important;}
.cb-i { clear: both !important; }

/**************************************************************
 * box
**************************************************************/

.admin-portlet-box {
  padding: 12px 20px 15px;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.admin-portlet-side-box {
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.admin-portlet-image-box {
  padding: 12px 0 15px;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  border-radius: 2px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.white-box {
  padding: 10px 20px;
  background-color: $color-white;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.gray-body-box {
  padding: 10px 20px;
  background-color: $color-grey-body;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.side-gray-body-box-2 {
  padding: 10px 5px;
  background-color: $color-grey-body-2;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.blue-box {
  padding: 10px 20px;
  color: #fff;
  background: $color-aqua;
  &:before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.news-red-box {
  border: 1px solid $color-pink;
  display: block;
  margin: 15px 0 0;
  border-radius: 2px;
  padding: 12px 10px;
}


.name-box {
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 1px 5px 0 #dde5ee;
}


/*------------------------------------
  Box-shadows Styles
------------------------------------*/

.u-shadow-none {
  box-shadow: none !important;

  &--focus:focus {
    box-shadow: none !important;
  }

  &--parent-hover {
    .g-parent:hover & {
      box-shadow: none !important;
    }
  }
}

/*------------------------------------
  Box-shadows-v1
------------------------------------*/

.u-shadow-v1 {
  &-1 {
    box-shadow: 0 0 5px $g-color-gray-dark-v5;
  }
  &-2 {
    box-shadow: 0 0 10px $g-color-gray-dark-v5;

    &--hover:hover {
      box-shadow: 0 0 10px $g-color-gray-dark-v5;
    }

    &--hover-parent {
      .g-parent:hover & {
        box-shadow: 0 0 10px $g-color-gray-dark-v5;
      }
    }
  }
  &-3 {
    box-shadow: 0 0 5px $g-color-gray-light-v3;
  }
  &-4 {
    box-shadow: 0 0 5px rgba($g-color-black, .1);
  }
  &-5 {
    box-shadow: 0 0 20px rgba($g-color-black, .2);

    &--hover:hover {
      box-shadow: 0 0 20px rgba($g-color-black, .2);
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 20px rgba($g-color-black, .2);
      }
    }
  }
  &-6 {
    box-shadow: 0 0 10px rgba($g-color-black, .2);

    &--hover:hover {
      box-shadow: 0 0 10px rgba($g-color-black, .2);
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 10px rgba($g-color-black, .2);
      }
    }
  }

  &-7 {
    box-shadow: 0 0 8px $g-color-gray-light-v4;

    &--hover:hover {
      box-shadow: 0 0 8px $g-color-gray-light-v4;
    }

    &--hover-parent {
      *:hover > & {
        box-shadow: 0 0 8px $g-color-gray-light-v4;
      }
    }
  }
}

/*------------------------------------
  Box-shadows-v2
------------------------------------*/
.u-shadow-v2 {
  box-shadow: 0 10px 6px -6px rgba($g-color-black, .2);
}

/*------------------------------------
  Box-shadows-v3-v4-v5
------------------------------------*/
%box-shadow {
  position: relative;
}
%box-shadow--after-before {
  content: "";
  position: absolute;
  top: 80%;
  left: 5px;
  bottom: 15px;
  width: 50%;
  max-width: 300px;
  background: rgba($g-color-black, .2);
  z-index: -1;
}
.u-shadow-v3,
.u-shadow-v4,
.u-shadow-v5 {
  @extend %box-shadow;
}
.u-shadow-v3::after,
.u-shadow-v3::before,
.u-shadow-v4::before,
.u-shadow-v5::after {
  @extend %box-shadow--after-before;
  box-shadow: 0 15px 10px rgba($g-color-black, .2);
  transform: rotate(-3deg);
}
.u-shadow-v3::after,
.u-shadow-v5::after {
  @extend %box-shadow--after-before;
  left: auto;
  right: 5px;
  transform: rotate(3deg);
}


.gray-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey;
}

.gray-1-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-1;
}

.gray-2-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-2;
}

.gray-3-box {
  padding: 10px 20px 20px 20px;
  background-color: $color-grey-2;
}

.dark-box-1 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.9);
}

.dark-box-2 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.8);
}

.dark-box-3 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.7);
}

.dark-box-4 {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(000,0,0,0.6);
}

.form-box {
  color: #000154;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.7);
}

/**************************************************************
 * h1 h2 h3 h4 title 集
**************************************************************/

.h-title-1 {
  padding: 10px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 600;
  background: #263238;
  color: #fff;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

/**************************************************************
 * 画像サイズ関連
**************************************************************/
@for $i from 1 through 100 {
  .img-#{$i} {
    display: block;
    height: auto;
    max-width: 0% + $i;
  }
}

/************************************************************
 * animete ディレイ関係
 ************************************************************/
@for $i from 1 through 500 {
  .animed-#{$i * 10} {
    animation-delay: #{$i * 10}ms;
  }
  .animed-#{$i * 10}-i {
    animation-delay: #{$i * 10}ms !important;
  }
}

.opa-10 { opacity: 1.0; }
.opa-08 { opacity: 0.8; }
.opa-06 { opacity: 0.6; }
.opa-04 { opacity: 0.4; }
.opa-02 { opacity: 0.2; }

.animated-infinite { animation-iteration-count: infinite; }

/************************************************************
* font background Color Palette
************************************************************/

// background
// Example => .bg-black
@each $name, $colors in $component-colors {
  .bg-#{$name} {
    background: none repeat scroll 0 0 map-get($colors, base);
  }
  .bg-#{$name}-i {
    background: none repeat scroll 0 0 map-get($colors, base) !important;
  }
  // linear-gradient
  .bg-gra-l-#{$name} {
    background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side, map-get($colors, base), map-get($colors, font) 100%, map-get($colors, base) 75%, map-get($colors, font))repeat scroll 0 0 / 4px 4px;
  }
}

// font-color
// Example => .f-white
@each $name, $colors in $component-colors {
  .f-#{$name} {
    color: map-get($colors, base);
  }
}

/************************************************************
* General typography
************************************************************/

/* text-decoration */
.tdu { text-decoration: underline; } /* アンダーライン */
.tdb { text-decoration: blink; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }

/************************************************************
* vertical-align
************************************************************/

.td-top { vertical-align: top; }
.td-top-i { vertical-align: top !important;}
.td-bottom { vertical-align: bottom; }
.td-bottom-i { vertical-align: bottom !important;}
.td-vm { vertical-align: middle; }
.td-vm-i { vertical-align: middle !important; }

/************************************************************
* position
************************************************************/

//top
@for $i from 1 through 100 {
  .top-#{$i} {
    top: #{$i}px;
  }
  .top-#{$i}-i {
    top: #{$i}px !important;
  }
}

//left
@for $i from 1 through 100 {
  .left-#{$i} {
    left: #{$i}px;
  }
  .left-#{$i}-i {
    left: #{$i}px !important;
  }
}

//right
@for $i from 1 through 100 {
  .right-#{$i} {
    right: #{$i}px;
  }
  .right-#{$i}-i {
    right: #{$i}px !important;
  }
}

//bottom
@for $i from 1 through 100 {
  .bottom-#{$i} {
    bottom: #{$i}px;
  }
  .bottom-#{$i}-i {
    bottom: #{$i}px !important;
  }
}

/************************************************************
* font-size
************************************************************/

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
  .fs-#{$i}-i {
    font-size: #{$i}px !important;
  }
}

@media #{$sp} {
  @for $i from 1 through 100 {
    .sp-fs-#{$i} {
      font-size: #{$i}px;
    }
    .sp-fs-#{$i}-i {
      font-size: #{$i}px !important;
    }
  }
}

/* font-weight  */
.fwb100 { font-weight: 100; }
.fwb200 { font-weight: 200; }
.fwb300 { font-weight: 300; }
.fwn { font-weight: normal; }
.fwb500 { font-weight: 500; }
.fwb600 { font-weight: 600; }
.fwb { font-weight: bold; }
.fwb800 { font-weight: 800; }
.fwb900 { font-weight: 900; }
.fwb600 { font-weight: 600; }

/*****************************************
* letter-spacing
******************************************/

@for $i from 1 through 10 {

  .lp-#{$i} {
    letter-spacing: #{$i}px;
  }
}

/*****************************************
* width設定
******************************************/

@for $i from 1 through 100 {
  .w-#{$i}-p {
    width: percentage($i/100);
  }
}

@for $i from 1 through 750 {
  .w-#{$i} {
    width: #{$i}px;
  }
  .w-#{$i}-i {
    width: #{$i}px !important;
  }
  .max-w-#{$i} {
    max-width: #{$i}px;
  }
  .max-w-#{$i} {
    max-width: #{$i}px !important;
  }
  .min-w-#{$i} {
    min-width: #{$i}px;
  }
  .min-w-#{$i} {
    min-width: #{$i}px !important;
  }
}

@media #{$sp} {
  // パーセント
  @for $i from 1 through 100 {
    .sp-w-#{$i}-p {
      width: percentage($i/100);
    }
  }
  @for $i from 1 through 1000 {
    .sp-w-#{$i} {
      width: #{$i}px;
    }
    .sp-w-#{$i}-i {
      width: #{$i}px !important;
    }
    .sp-mw-#{$i} {
      max-width: #{$i}px;
    }
    .sp-mw-#{$i} {
      max-width: #{$i}px !important;
    }
  }
}

.w-768 { width: 768px; }
.w-950 { width: 950px; }
.w-960 { width: 960px; }
.w-1024 { width: 1024px; }

/************************************************************
* height
*************************************************************/

// height 1 ~ 1000px まで
// example
// ht120 => height: 120px;
@for $i from 1 through 1000 {
  .ht-#{$i} {
    height: #{$i}px;
  }
  .ht-#{$i}-i {
    height: #{$i}px !important;
  }
}

@media #{$sp} {
  @for $i from 1 through 1000 {
    .sp-ht-#{$i} {
      height: #{$i}px;
    }
    .sp-ht-#{$i}-i {
      height: #{$i}px !important;
    }
  }
}


/************************************************************
 * bootstrap padding
 * default
 ************************************************************/

// 250pxまで定義
@for $i from 0 through 250 {
  .pd-#{$i} {
    padding: #{$i}px;
  }
  .pd-#{$i}-i {
    padding: #{$i}px !important;
  }
  .pdt-#{$i} {
    padding-top: #{$i}px;
  }
  .pdt-#{$i}-i {
    padding-top: #{$i}px !important;
  }
  .pdb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pdb-#{$i}-i {
    padding-bottom: #{$i}px !important;
  }
  .pdr-#{$i} {
    padding-right: #{$i}px;
  }
  .pdr-#{$i}-i {
    padding-right: #{$i}px !important;
  }
  .pdl-#{$i} {
    padding-left: #{$i}px;
  }
  .pdl-#{$i}-i {
    padding-left: #{$i}px !important;
  }
  .pdh-#{$i} {
    padding: #{$i}px 0;
  }
  .pdh-#{$i}-i {
    padding: #{$i}px 0 !important;
  }
  .pds-#{$i} {
    padding: 0 #{$i}px;
  }
  .pds-#{$i}-i {
    padding: 0 #{$i}px !important;
  }
}

@media #{$sp} {
  @for $i from 0 through 250 {
    .sp-pd-#{$i} {
      padding: #{$i}px;
    }
    .sp-pd-#{$i}-i {
      padding: #{$i}px !important;
    }
    .sp-pdt-#{$i} {
      padding-top: #{$i}px;
    }
    .sp-pdt-#{$i}-i {
      padding-top: #{$i}px !important;
    }
    .sp-pdb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .sp-pdb-#{$i}-i {
      padding-bottom: #{$i}px !important;
    }
    .sp-pdr-#{$i} {
      padding-right: #{$i}px;
    }
    .sp-pdr-#{$i}-i {
      padding-right: #{$i}px !important;
    }
    .sp-pdl-#{$i} {
      padding-left: #{$i}px;
    }
    .sp-pdl-#{$i}-i {
      padding-left: #{$i}px !important;
    }
    /* padding-height 上下高さ */
    .sp-pdh-#{$i} {
      padding: #{$i}px 0;
    }
    .sp-pdh-#{$i}-i {
      padding: #{$i}px 0 !important;
    }
    .sp-pds-#{$i} {
      padding: 0 #{$i}px;
    }
    .sp-pds-#{$i}-i {
      padding: 0 #{$i}px !important;
    }
  }
}

/* margin */
.mg-0-auto  { margin: 0 auto; }
.mg-r-auto { margin-right: auto !important; }
.mg-l-auto { margin-left: auto !important; }

// 250pxまで定義
@for $i from 0 through 250 {
  .mg-#{$i} {
    margin: #{$i}px;
  }
  .mg-#{$i}-i {
    margin: #{$i}px !important;
  }
  .mgh-#{$i} {
    margin: #{$i}px 0;
  }
  .mgh-#{$i}-i {
    margin: #{$i}px !important;
  }
  .mgs-#{$i} {
    margin: 0 #{$i}px;
  }
  .mgs-#{$i}-i {
    margin: 0 #{$i}px !important;
  }
  .mgl-#{$i} {
    margin-left: #{$i}px;
  }
  .mgl-#{$i}-i {
    margin-left: #{$i}px !important;
  }
  .mgr-#{$i} {
    margin-right: #{$i}px;
  }
  .mgr-#{$i}-i {
    margin-right: #{$i}px !important;
  }
  .mgt-#{$i} {
    margin-top: #{$i}px;
  }
  .mgt-#{$i}-i {
    margin-top: #{$i}px !important;
  }
  .mgb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .mgb-#{$i}-i {
    margin-bottom: #{$i}px !important;
  }
}

@media #{$sp} {
  @for $i from 0 through 250 {
    .sp-mg-#{$i} {
      margin: #{$i}px;
    }
    .sp-mg-#{$i}-i {
      margin: #{$i}px !important;
    }
    .sp-mgh-#{$i} {
      margin: #{$i}px 0;
    }
    .sp-mgh-#{$i}-i {
      margin: #{$i}px !important;
    }
    .sp-mgs-#{$i} {
      margin: 0 #{$i}px;
    }
    .sp-mgs-#{$i}-i {
      margin: 0 #{$i}px !important;
    }
    .sp-mgl-#{$i} {
      margin-left: #{$i}px;
    }
    .sp-mgl-#{$i}-i {
      margin-left: #{$i}px !important;
    }
    .sp-mgr-#{$i} {
      margin-right: #{$i}px;
    }
    .sp-mgr-#{$i}-i {
      margin-right: #{$i}px !important;
    }
    .sp-mgt-#{$i} {
      margin-top: #{$i}px;
    }
    .sp-mgt-#{$i}-i {
      margin-top: #{$i}px !important;
    }
    .sp-mgb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .sp-mgb-#{$i}-i {
      margin-bottom: #{$i}px !important;
    }
  }
}

/*************************************************************
   line-height 行間関係
*************************************************************/

@for $i from 0 through 30 {
  .lh-#{$i} {
    line-height: #{$i}px !important;
  }
  .lh-#{$i}-i {
    line-height: #{$i}px !important;
  }
}

@for $i from 1 through 50 {
  .sp-lh-#{$i} {
    line-height: #{$i}px;
  }
  .sp-lh-#{$i}-i {
    line-height: #{$i}px !important;
  }
}

/*************************************************************
/* border: 関連 map-get方式
*************************************************************/


.b-gray { border: 1px solid $color-grey; }
.b-gray-1 { border: 1px solid $color-grey-1; }

.bb-sol-green { border-bottom: 2px solid $color-green; }
.bb-sol-pastel-green { border-bottom: 1px solid #0aa699 !important; }

.bb-g { border-bottom: 2px solid #b7bbbf; }
.bb-sol-blue { border-bottom: 1px solid $color-blue; }
.bb-dot-blue { border-bottom: 1px solid $color-blue; }

.b-sol  { border:solid 1px #ccc; }
.b-sol-black { border:solid 1px #5A5A5A;}

.bt-sol { border-top:solid 1px #ccc; }
.bb-sol { border-bottom:solid 1px #ccc; }
.bl-sol { border-left:solid 1px #ccc; }
.br-sol { border-right:solid 1px #ccc; }

.br-sol-ddd { border-right:solid 1px #ddd; }

.bt-sol-black { border-top:solid 1px #5A5A5A; }
.bb-sol-black { border-bottom:solid 1px #5A5A5A; }
.bl-sol-black { border-left:solid 1px #5A5A5A; }
.br-sol-black { border-right:solid 1px #5A5A5A; }

.bb-sol-dadada { border-bottom: 1px #DADADA;}

.bt-dot { border-top:dotted 1px #ccc; }
.bb-dot { border-bottom:dotted 1px #ccc; }
.bl-dot { border-left: dotted 1px #ccc; }
.br-dot { border-right:dotted 1px #ccc; }

.bt-sol-pastel-red { border-top: 4px solid #f35958;}
.bt-sol-pastel-blue { border-top: 4px solid #0090d9; }
.bt-sol-pastel-purple { border-top: 4px solid #735f87; }
.bt-sol-pastel-green { border-top: 4px solid #0aa699; }

/* text pick up: 4px 8px; */
.bl-sol-pick {
  border-left: 3px solid $theme-color;
  padding: 4px 8px;
}

.bl-sol-pick-666 {
  border-left: 3px solid #666;
  padding: 4px 8px;
}

.bl-sol-pastel-green  {
  border-left: 3px solid #0aa699;
  padding: 4px 8px;
}

.bl-sol-pick-green {
  border-left: 3px solid $color-green;
  padding: 4px 8px;
}

.bl-sol-pick-blue {
  border-left: 3px solid $color-blue;
  padding: 4px 8px;
}

.bl-sol-pick-red {
  border-left: 3px solid $color-red;
  padding: 4px 8px;
}

/* border radius */
@for $i from 1 through 100  {
  .bdr#{$i} {
    border-radius: #{$i}px;
  }
}

/* center-align */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

/* vertical-align */
.v-top { vertical-align: top; }
.v-middle { vertical-align: middle; }
.v-bottom { vertical-align: bottom; }

// 上下中央
.box-center {
  display: table-cell;
  vertical-align: middle !important;
  text-align: center !important;
}

.img-center { display: block;margin: 0 auto; }
.img-wide { width: 100%;height: auto; }

.ofh { overflow:hidden; }

.dsn { display: none; }
.dspn { display: none; }
.dsp { display: block; }
.dspb { display: block; }
.dsp-ib { display: inline-block; }

/*****************************************
* position 設定
******************************************/

.pos-a { position: absolute; }
.pos-r { position: relative; }
.pos-f { position: fixed; }

// important設定
@for $i from 1 through 250  {
  .top#{$i} {
    top: #{$i}px !important;
  }
  .bottom#{$i} {
    bottom: #{$i}px !important;
  }
  .left#{$i} {
    left: #{$i}px !important;
  }
  .right#{$i} {
    right: #{$i}px !important;
  }
}

/*************************************************************
/* 動画関連 youtube
*************************************************************/
.youtube {
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
  padding-top: 69px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50%;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*************************************************************
グリッドデザイン手動リセット関連
0 ～ 30px まで
*************************************************************/

.col-reset-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@for $i from 1 through 6 {
  .col-reset-#{$i * 5} {
    padding-left: #{$i * 5}px !important;
    padding-right: #{$i * 5}px !important;
  }
}

/**************************************************************
　デコレーション関連
**************************************************************/
.marker_yellow {
  background: linear-gradient(transparent 60%, #fff53e 60%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/**************************************************************
 Tablet
 768 ~ 1200px
**************************************************************/
@media only screen and (max-width: $g-xl) {

  .md-dsn { display: none !important;}
  .md-dsp { display: block !important; }

  /**************************************************************
  【画像サイズ関係】
  **************************************************************/

  @for $i from 1 through 20 {
    .img-responsive-#{$i * 5} {
      display: block;
      height: auto;
      width: percentage(($i * 5)/100);
    }
  }

  /* フォントサイズ */
  //font-size
  @for $i from 1 through 100 {
    .md-fs-#{$i} {
      font-size: #{$i}px !important;
    }
  }

  // width
  @for $i from 0 through 200 {
    .md-w#{$i * 5} {
      width: #{$i * 5}px;
    }
    .md-mw#{$i * 5} {
      max-width: #{$i * 5}px;
    }
  }

}

/**************************************************************
 Response SmartPhone
**************************************************************/
@media only screen and (max-width: $g-md) {

  /**************************************************************
  タイトル関連
  **************************************************************/

  .sp-fl { float: left; }
  .sp-fr { float: right;}
  .sp-fn { float: none !important;}
  .sp-cb { clear: both; }

  /**************************************************************
  【画像サイズ関係】
  **************************************************************/
  // img-responsive-10
  @for $i from 1 through 20 {
    .img-responsive-#{$i * 5} {
      display: block;
      height: auto;
      width: percentage(($i * 5)/100);
    }
  }

  /* SP img block */
  .sp-img-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sp-clear { clear: both; }
  .sp-text-center { text-align: center !important; }

  .sp-fwb { font-weight: bold !important; }
  .sp-fwb500 { font-weight: 500 !important;}

  /* center-align */
  .sp-text-center { text-align: center !important; }
  .sp-text-right  { text-align: right !important; }
  .sp-text-left   { text-align: left !important; }
  .sp-text-middle { font-weight: 600 !important; }
  .sp-img-center  { margin: 0 auto !important; }

  .sp-dsn { display: none !important;}
  .sp-dsp { display: block !important; }

}
