@charset "UTF-8";
/*******************************************
* color定義 Default color はトーン-1までの指定
 *******************************************/

//-------------------- Base Colors --------------------//

//$theme-color:                   #1ABC9C;
$theme-color:                   #004386;
$body-color:                    #555;
$heading-color:                 #444;

// main-color
$color-base: #8b91a0;
$main-color: #16834c;

// Color Black
$color-black: #000;

// Color White
$color-white: #fff;

//general-color
$color-ccc: #ccc;
$color-ddd: #ddd;

// Color Gray
$g-color-gray-light-v1: #bbb !default; // $g-color-gray-light-v3
$g-color-gray-light-v2: #ccc !default; // $g-color-gray-light-v4
$g-color-gray-light-v3: #ddd !default; // $g-color-gray-light-v6
$g-color-gray-light-v4: #eee !default; // $g-color-gray-light-v7
$g-color-gray-light-v5: #f7f7f7 !default; // $g-color-gray-light-v9

$g-color-gray-dark-v1: #111 !default; // $g-color-gray-dark-v4:
$g-color-gray-dark-v2: #333 !default; // $g-color-gray-dark-v2:
$g-color-gray-dark-v3: #555 !default; // $g-color-gray-dark-v1:
$g-color-gray-dark-v4: #777 !default; // $g-color-gray:
$g-color-gray-dark-v5: #999 !default; // $g-color-gray-light-v1:

/* color定義 */
$color-grey: #8b91a0;
$color-grey-1: #DDDDDD;

//base color
$color-red: #832216;
$color-red-1: #F5A3A2;
$color-blue: #004386;
$color-blue-1: #7FCAED;
$color-yellow: #f7cf5e;
$color-yellow-1: #F8E4A9;
$color-green: #16834c;
$color-green-1: #61CF98;
$color-orange: #FF5C03;
/* アンカータグ */
$color-anchor: #004386;
$color-anchor-hover: #004386;

$color-dark: #1d2127;
$color-dark-inverse: #FFF;
$color-dark-1: lighten($color-dark, 2%);
$color-dark-2: lighten($color-dark, 5%);
$color-dark-3: lighten($color-dark, 8%);
$color-dark-4: lighten($color-dark, 10%);
$color-dark-5: lighten($color-dark, 3%);
$color-darken-1: darken($color-dark, 2%);
$color-side-dark: #424242 !default;

$color-black-1: #111111 !default;
$color-black-2: #222222 !default;
$color-black-3: #333333 !default;
$color-black-4: #444444 !default;
$color-black-5: #555555 !default;

$color-grey-1: #d6d6d6;
$color-grey-2: #eeeeee;
$color-grey-3: #f6f6f6;
$color-grey-body: #f7fafa;
$color-grey-body-2: #fafafa;

$color-emerald: #00bc9a;
$color-emerald-1: #3CC7AE;
$color-purple: #6d5eac;
$color-purple-1: #A39DBA;
$color-aqua: #5ba5d6;
$color-aqua-1: #A0C5DD;

$color-pink: #e92f76;

$color-ws: #004386;
$color-blue-ws: #000154;

$color-font-default: #777;

$color-default: #f2f2f2;
$color-default-inverse: #777;

$color-muted: #999;

// bootstrap color
$color-primary: #004386;
$color-danger: #d2322d;
$color-warning: #ed9c28;
$color-secondary: #E36159;
$color-tertiary: #2BAAB1;
$color-quaternary: $color-dark-4;
$color-success: #16834c;
$color-info: #5bc0de;
$color-primary-inverse: #FFF;
$color-secondary-inverse: #FFF;
$color-tertiary-inverse: #FFF;
$color-quaternary-inverse: #FFF;
$color-success-inverse: #FFF;
$color-warning-inverse: #FFF;
$color-danger-inverse: #FFF;

$color-info-inverse: #FFF;

//-------------------- Social Icons Colors --------------------//

$facebook:                 #3B5998;
$twitter:                  #00ACEE;
$youtube:                  #C4302B;
$delicious:                #205CC0;
$paypal:                   #00588B;
$flattr:                   #F67C1A;
$android:                  #A4C639;
$smashmag:                 #E53B2C;
$gplus:                    #DD4B39;
$wikipedia:                #333;
$stumbleupon:              #F74425;
$foursquare:               #25A0CA;
$call:                     #444;
$ninetyninedesigns:        #F26739;
$forrst:                   #5B9A68;
$digg:                     #191919;
$spotify:                  #81B71A;
$reddit:                   #C6C6C6;
$blogger:                  #FC4F08;
$cc:                       #688527;
$dribbble:                 #EA4C89;
$evernote:                 #5BA525;
$flickr:                   #FF0084;
$google:                   #DD4B39;
$instapaper:               #333;
$klout:                    #FF5F52;
$linkedin:                 #0E76A8;
$vk:                       #2B587A;
$rss:                      #EE802F;
$skype:                    #00AFF0;
$vimeo:                    #86C9EF;
$aim:                      #FCD20B;
$yahoo:                    #720E9E;
$email3:                   #6567A5;
$macstore:                 #333333;
$myspace:                  #666666;
$podcast:                  #E4B21B;
$cloudapp:                 #525557;
$dropbox:                  #3D9AE8;
$ebay:                     #89C507;
$github:                   #171515;
$googleplay:               #DD4B39;
$itunes:                   #222;
$plurk:                    #CF5A00;
$pinboard:                 #0000E6;
$soundcloud:               #FF7700;
$tumblr:                   #34526F;
$wordpress:                #1E8CBE;
$yelp:                     #C41200;
$intensedebate:            #009EE4;
$eventbrite:               #F16924;
$scribd:                   #666666;
$stripe:                   #008CDD;
$print:                    #111;
$dwolla:                   #FF5C03;
$statusnet:                #131A30;
$acrobat:                  #D3222A;
$drupal:                   #27537A;
$buffer:                   #333333;
$pocket:                   #EE4056;
$bitbucket:                #0E4984;
$stackoverflow:            #EF8236;
$hackernews:               #FF6600;
$xing:                     #126567;
$instagram:                #3F729B;
$quora:                    #A82400;
$openid:                   #E16309;
$steam:                    #111;
$amazon:                   #E47911;
$disqus:                   #E4E7EE;
$plancast:                 #222;
$appstore:                 #000;
$pinterest:                #C8232C;
$fivehundredpx:            #111;
$si_text_color:            #FFF;

//Component colors
//btn && label

$theme-type: default;
$component-colors: (
  //default color
    "theme":              (base:$theme-color, font: #FFFFFF),
    "base":               (base:$color-base, font: #FFFFFF),
    "main":               (base:$main-color, font: #FFFFFF),
    "default":	          (base:#e1e5ec, font: #666666),
    "white":	            (base:#ffffff, font: #333),
    "dark":    	          (base:#2f353b, font: #FFFFFF),
  //general color
    "ccc":                (base:$color-ccc, font: #333),
    "ddd":                (base:$color-ddd, font: #333),
    "d8d8d8":             (base:#d8d8d8, font: #333),
    "d0d0d0":             (base:#d0d0d0, font: #333),
  //black
    "black":              (base:$color-black, font: #FFFFFF),
    "black-1":            (base:$color-black-1, font: #FFFFFF),
    "black-2":            (base:$color-black-2, font: #FFFFFF),
    "black-3":            (base:$color-black-3, font: #FFFFFF),
    "black-4":            (base:$color-black-4, font: #FFFFFF),
    "black-5":            (base:$color-black-5, font: #FFFFFF),
  //blue
    "blue":	              (base:$color-blue, font: #FFFFFF),
    "blue-2":	            (base:#4a69e6, font: #FFFFFF),
    "blue-madison":	      (base:#578ebe, font: #FFFFFF),
    "blue-chambray":	    (base:#2C3E50, font: #FFFFFF),
    "blue-ebonyclay":	    (base:#22313F, font: #FFFFFF),
    "blue-hoki":	        (base:#67809F, font: #FFFFFF),
    "blue-steel":	        (base:#4B77BE, font: #FFFFFF),
    "blue-soft":	        (base:#4c87b9, font: #FFFFFF),
    "blue-dark":	        (base:#5e738b, font: #FFFFFF),
    "blue-sharp":	        (base:#5C9BD1, font: #FFFFFF),
    "blue-oleo":	        (base:#94A0B2, font: #FFFFFF),
    "blue-skippr":        (base:#3879ef, font: #ffffff),
    "blue-ws":            (base:#000154, font: #ffffff),
    "aqua":               (base:#e0f8fa, font: #ffffff),
  //green
    "green":	            (base:$color-green, font: #FFFFFF),
    "green-2":	          (base:#64d9cf, font: #FFFFFF),
    "green-meadow":	      (base:#1BBC9B, font: #FFFFFF),
    "green-seagreen":	    (base:#1BA39C, font: #FFFFFF),
    "green-turquoise":	  (base:#36D7B7, font: #FFFFFF),
    "green-haze":	        (base:#44b6ae, font: #FFFFFF),
    "green-jungle":	      (base:#26C281, font: #FFFFFF),
    "green-soft":	        (base:#3faba4, font: #FFFFFF),
    "green-dark":	        (base:#4DB3A2, font: #FFFFFF),
    "green-sharp":	      (base:#2ab4c0, font: #FFFFFF),
    "green-steel":	      (base:#29b4b6, font: #FFFFFF),
    "green-fuji":	        (base:#16834c, font: #FFFFFF),
  //grey
    "grey":	              (base:$color-grey, font: #FFFFFF),
    "grey-1":             (base:$color-grey-1, font: #FFFFFF),
    "grey-2":             (base:$color-grey-2, font: #FFFFFF),
    "grey-3":             (base:$color-grey-3, font: #FFFFFF),
    "grey-body":          (base:$color-grey-body, font: #333333),
    "grey-body-2":        (base:$color-grey-body-2, font: #333333),
    "grey-steel":	        (base:#e9edef, font: #80898e),
    "grey-cararra":	      (base:#fafafa, font: #333333),
    "grey-gallery":	      (base:#555555, font: #ffffff),
    "grey-cascade":	      (base:#95A5A6, font: #FFFFFF),
    "grey-silver":	      (base:#BFBFBF, font: #FAFCFB),
    "grey-salsa":	        (base:#ACB5C3, font: #FAFCFB),
    "grey-salt":	        (base:#bfcad1, font: #FAFCFB),
    "grey-mint":	        (base:#525e64, font: #FFFFFF),
  //red
    "red":	              (base:$color-red, font: #ffffff),
    "red-2":	            (base:#EB305E, font: #ffffff),
    "red-pink":	          (base:#E08283, font: #ffffff),
    "red-sunglo":	        (base:#E26A6A, font: #ffffff),
    "red-intense":	      (base:#e35b5a, font: #ffffff),
    "red-thunderbird":	  (base:#D91E18, font: #ffffff),
    "red-flamingo":	      (base:#EF4836, font: #ffffff),
    "red-soft":	          (base:#d05454, font: #ffffff),
    "red-haze":	          (base:#f36a5a, font: #ffffff),
    "red-mint":	          (base:#e43a45, font: #ffffff),
  //yellow
    "yellow":	            (base:$color-yellow, font: #ffffff),
    "yellow-gold":	      (base:#E87E04, font: #ffffff),
    "yellow-casablanca":	(base:#f2784b, font: #ffffff),
    "yellow-crusta":	    (base:#f3c200, font: #ffffff),
    "yellow-lemon":	      (base:#F7CA18, font: #ffffff),
    "yellow-saffron":	    (base:#F4D03F, font: #ffffff),
    "yellow-soft":	      (base:#c8d046, font: #ffffff),
    "yellow-haze":	      (base:#c5bf66, font: #ffffff),
    "yellow-mint":	      (base:#c5b96b, font: #ffffff),
  //purple
    "purple":	            (base:$color-purple, font: #ffffff),
    "purple-plum":	      (base:#8775a7, font: #ffffff),
    "purple-medium":	    (base:#BF55EC, font: #ffffff),
    "purple-studio":	    (base:#8E44AD, font: #ffffff),
    "purple-wisteria":    (base:#9B59B6, font: #ffffff),
    "purple-seance":	    (base:#9A12B3, font: #ffffff),
    "purple-intense":	    (base:#8775a7, font: #ffffff),
    "purple-sharp":	      (base:#796799, font: #ffffff),
    "purple-soft":	      (base:#8877a9, font: #ffffff),
  //pink
    "pink":               (base:#e92f76,font: #ffffff),
    "pink-2":             (base:#ff4574,font: #ffffff),
    "pink-3":             (base:#f12b5b,font: #ffffff),
  //com-color
    "blue-com":           (base:#004386,font: #ffffff),
    "red-com":            (base:#93170F,font: #ffffff),
    "blue-com-light":     (base:#f2f3f8,font: #ffffff),
    "red-com-light":      (base:#F9E2DA,font: #ffffff),
  //Social color
    "facebook":           (base:$facebook,font: #ffffff),
    "twitter":            (base:$twitter,font: #ffffff),
    "youtube":            (base:$youtube,font: #ffffff),
  //bootstrap color
    "primary":            (base:$color-primary,font: #ffffff),
    "danger":             (base:$color-danger,font: #ffffff),
    "waning":             (base:$color-warning,font: #ffffff),
  //color
    "orange":             (base:$color-orange,font: #ffffff),
    "emerald":            (base:$color-emerald,font: #ffffff),
  //Pastel color
    "green-pastel":             (base:#19b3a5,font: #ffffff),
    "red-Pastel":             (base:#EB6D73,font: #ffffff),
    "yellow-Pastel":             (base:#F9E642,font: #ffffff),
    "blue-Pastel":             (base:#006A97,font: #ffffff),
    "aqua-Pastel":             (base:#67BFD7,font: #ffffff),

);
