@charset "UTF-8";
/*******************************************
* color定義 Default color はトーン-1までの指定
 *******************************************/

// main-color
$color-base: #8b91a0;
$main-color: #16834c;

/* color定義 */
$color-grey: #8b91a0;
$color-grey-1: #DDDDDD;

$color-red: #f35958;
$color-red-1: #F5A3A2;
$color-blue: #37b0e9;
$color-blue-1: #7FCAED;
$color-yellow: #f7cf5e;
$color-yellow-1: #F8E4A9;
$color-green: #16834c;
$color-green-1: #61CF98;
/* アンカータグ */
$color-anchor: #004386;
$color-anchor-hover: #004386;

$color-dark: #1d2127;
$color-dark-inverse: #FFF;
$color-dark-1: lighten($color-dark, 2%);
$color-dark-2: lighten($color-dark, 5%);
$color-dark-3: lighten($color-dark, 8%);
$color-dark-4: lighten($color-dark, 10%);
$color-dark-5: lighten($color-dark, 3%);
$color-darken-1: darken($color-dark, 2%);
$color-side-dark: #424242 !default;

$color-white: #FFFFFF !default;
$color-black: #000000 !default;
$color-black-1: #111111 !default;
$color-black-2: #222222 !default;
$color-black-3: #333333 !default;
$color-black-4: #444444 !default;
$color-black-5: #555555 !default;

$color-grey-1: #d6d6d6;
$color-grey-2: #eeeeee;
$color-grey-3: #f6f6f6;
$color-grey-body: #f7fafa;
$color-grey-body-2: #fafafa;

$color-emerald: #00bc9a;
$color-emerald-1: #3CC7AE;
$color-purple: #6d5eac;
$color-purple-1: #A39DBA;
$color-aqua: #5ba5d6;
$color-aqua-1: #A0C5DD;

$color-primary: #004386;
$color-danger: #d2322d;
$color-waning: #ed9c28;

$color-com: #004386;

$color-pink: #e92f76;
$color-blue-ws: #000154;

$color-font-default: #777;

$color-default: #f2f2f2;
$color-default-inverse: #777;

$color-muted: #999;

$color-primary: #CCC;
$color-primary-inverse: #FFF;

$color-secondary: #E36159;
$color-secondary-inverse: #FFF;

$color-tertiary: #2BAAB1;
$color-tertiary-inverse: #FFF;

$color-quaternary: $color-dark-4;
$color-quaternary-inverse: #FFF;

$color-success: #47a447;
$color-success-inverse: #FFF;

$color-warning: #ed9c28;
$color-warning-inverse: #FFF;

$color-danger: #d2322d;
$color-danger-inverse: #FFF;

$color-info: #5bc0de;
$color-info-inverse: #FFF;

// Color Black
$g-color-black: #000;

// Color White
$g-color-white: #fff;

// Color Gray
$g-color-gray-light-v1: #bbb !default; // $g-color-gray-light-v3
$g-color-gray-light-v2: #ccc !default; // $g-color-gray-light-v4
$g-color-gray-light-v3: #ddd !default; // $g-color-gray-light-v6
$g-color-gray-light-v4: #eee !default; // $g-color-gray-light-v7
$g-color-gray-light-v5: #f7f7f7 !default; // $g-color-gray-light-v9

$g-color-gray-dark-v1: #111 !default; // $g-color-gray-dark-v4:
$g-color-gray-dark-v2: #333 !default; // $g-color-gray-dark-v2:
$g-color-gray-dark-v3: #555 !default; // $g-color-gray-dark-v1:
$g-color-gray-dark-v4: #777 !default; // $g-color-gray:
$g-color-gray-dark-v5: #999 !default; // $g-color-gray-light-v1:

//Component colors
//btn && label

$theme-type: default;
$component-colors: (
  //default color
  "default":	          (base:#e1e5ec, font: #666666),
  "white":	            (base:#ffffff, font: #666666),
  "dark":    	          (base:#2f353b, font: #FFFFFF),
  //blue
  "blue":	              (base:$color-blue, font: #FFFFFF),
  "blue-madison":	      (base:#578ebe, font: #FFFFFF),
  "blue-chambray":	    (base:#2C3E50, font: #FFFFFF),
  "blue-ebonyclay":	    (base:#22313F, font: #FFFFFF),
  "blue-hoki":	        (base:#67809F, font: #FFFFFF),
  "blue-steel":	        (base:#4B77BE, font: #FFFFFF),
  "blue-soft":	        (base:#4c87b9, font: #FFFFFF),
  "blue-dark":	        (base:#5e738b, font: #FFFFFF),
  "blue-sharp":	        (base:#5C9BD1, font: #FFFFFF),
  "blue-oleo":	        (base:#94A0B2, font: #FFFFFF),
  "blue-skippr":        (base:#3879ef, font: #ffffff),
  "blue-ws":            (base:#000154, font: #ffffff),
  //gree        n
  "green":	            (base:$color-green, font: #FFFFFF),
  "green-meadow":	      (base:#1BBC9B, font: #FFFFFF),
  "green-seagreen":	    (base:#1BA39C, font: #FFFFFF),
  "green-turquoise":	  (base:#36D7B7, font: #FFFFFF),
  "green-haze":	        (base:#44b6ae, font: #FFFFFF),
  "green-jungle":	      (base:#26C281, font: #FFFFFF),
  "green-soft":	        (base:#3faba4, font: #FFFFFF),
  "green-dark":	        (base:#4DB3A2, font: #FFFFFF),
  "green-sharp":	      (base:#2ab4c0, font: #FFFFFF),
  "green-steel":	      (base:#29b4b6, font: #FFFFFF),
  "green-fuji":	        (base:#16834c, font: #FFFFFF),
  //grey
  "grey":	              (base:$color-grey, font: #333333),
  "grey-steel":	        (base:#e9edef, font: #80898e),
  "grey-cararra":	      (base:#fafafa, font: #333333),
  "grey-gallery":	      (base:#555555, font: #ffffff),
  "grey-cascade":	      (base:#95A5A6, font: #FFFFFF),
  "grey-silver":	      (base:#BFBFBF, font: #FAFCFB),
  "grey-salsa":	        (base:#ACB5C3, font: #FAFCFB),
  "grey-salt":	        (base:#bfcad1, font: #FAFCFB),
  "grey-mint":	        (base:#525e64, font: #FFFFFF),
  //red
  "red":	              (base:$color-red, font: #ffffff),
  "red-pink":	          (base:#E08283, font: #ffffff),
  "red-sunglo":	        (base:#E26A6A, font: #ffffff),
  "red-intense":	      (base:#e35b5a, font: #ffffff),
  "red-thunderbird":	  (base:#D91E18, font: #ffffff),
  "red-flamingo":	      (base:#EF4836, font: #ffffff),
  "red-soft":	          (base:#d05454, font: #ffffff),
  "red-haze":	          (base:#f36a5a, font: #ffffff),
  "red-mint":	          (base:#e43a45, font: #ffffff),
  //yellow
  "yellow":	            (base:$color-red, font: #ffffff),
  "yellow-gold":	      (base:#E87E04, font: #ffffff),
  "yellow-casablanca":	(base:#f2784b, font: #ffffff),
  "yellow-crusta":	    (base:#f3c200, font: #ffffff),
  "yellow-lemon":	      (base:#F7CA18, font: #ffffff),
  "yellow-saffron":	    (base:#F4D03F, font: #ffffff),
  "yellow-soft":	      (base:#c8d046, font: #ffffff),
  "yellow-haze":	      (base:#c5bf66, font: #ffffff),
  "yellow-mint":	      (base:#c5b96b, font: #ffffff),
  //purple
  "purple":	            (base:#8E44AD, font: #ffffff),
  "purple-plum":	      (base:#8775a7, font: #ffffff),
  "purple-medium":	    (base:#BF55EC, font: #ffffff),
  "purple-studio":	    (base:#8E44AD, font: #ffffff),
  "purple-wisteria":    (base:#9B59B6, font: #ffffff),
  "purple-seance":	    (base:#9A12B3, font: #ffffff),
  "purple-intense":	    (base:#8775a7, font: #ffffff),
  "purple-sharp":	      (base:#796799, font: #ffffff),
  "purple-soft":	      (base:#8877a9, font: #ffffff),
  //pink
  "pink":               (base: #e92f76,font: #ffffff),

  //com-color
  "blue-com":           (base: #004386,font: #ffffff),
  "red-com":            (base: #93170F,font: #ffffff),
  "blue-com-light":     (base: #f2f3f8,font: #ffffff),
  "red-com-light":      (base: #F9E2DA,font: #ffffff),
);
