@charset "UTF-8";
/*******************************************
* 設定関連
 *******************************************/

/*******************************************
 COLORS
 *******************************************/
@import "color";

/*******************************************
 media
 *******************************************/

$g-sm: 576px !default; // Small devices (landscape phones, >=576 & <=767)
$g-md: 768px !default; // Medium devices (tablets, >=768 & <=991) smart-phone
$g-lg: 992px !default; // Large devices (desktops, >=992 & <=1199) tablet
$g-xl: 1200px !default; // Extra large devices (large desktops, >=1200)

/*******************************************
 TYPOGRAPHY
 *******************************************/

// Font Families
$g-font-primary: "Open Sans", Helvetica, Arial, sans-serif !default;
$g-font-secondary: "Roboto Slab", Helvetica, Arial, sans-serif !default;
$g-font-code: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$g-font-niconne: "Niconne", cursive !default;

$body-font-size: 14;
$root-font-size: 10;
$body-line-height: 22;

// weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// spacement
$spacement-increment: 5px;
$spacement-xs: $spacement-increment;
$spacement-sm: $spacement-xs + $spacement-increment;
$spacement-md: $spacement-sm + $spacement-increment;
$spacement-lg: $spacement-md + $spacement-increment;
$spacement-xl: $spacement-lg + $spacement-increment;
$spacement-xlg: $spacement-xl + $spacement-increment;

// borders
$border-thin: 3px;
$border-normal: 5px;
$border-thick: 7px;

// colors list
$colors-list: (primary $color-primary $color-primary-inverse) (secondary $color-secondary $color-secondary-inverse) (tertiary $color-tertiary $color-tertiary-inverse) (quaternary $color-quaternary $color-quaternary-inverse);

// states list
$states: (primary $color-primary $color-primary-inverse) (success $color-success $color-success-inverse) (warning $color-warning $color-warning-inverse) (danger $color-danger $color-danger-inverse) (info $color-info $color-info-inverse) (dark $color-dark $color-dark-inverse);

// light version
$light-bg: #FFF;
$footer-bg: #0e0e0e;

// dark version
$dark-bg: $color-dark;
$dark-default-text: #808697;

// =============================================================================
// SETTINGS
// =============================================================================
$border-radius: 5px;

$general-panel-bg-color:      #f1f4f7 !default;
$general-panel-border-color:  darken(#f1f4f7, 3%) !default;

// Animation Performance
@mixin performance() {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/*******************************************
 bootstrap reset
 *******************************************/

$bootstrap-reset-grid-right: 0;
$bootstrap-reset-grid-left:  0;

$bootstrap-reset-row-right: 0;
$bootstrap-reset-row-left:  0;

