@charset "UTF-8";
/************************************************************
* Global layout
*************************************************************/

//## Bootstrap
//
// Core bootstrap variables and mixins
@import "../vender/bootstrap/bootstrap/variables";
@import "../vender/bootstrap/bootstrap/mixins";

@import "../global/components/config/variables";

@import "config/mixins";
@import "config/variables"; // theme level variables

@import 'layout/print'; // print layout

@import "layout/header"; // page header
@import "layout/page-container"; // page main container
@import "layout/sidebar";  // page sidebar
@import "layout/content"; // page consnde
@import "layout/footer";   // page footer
@import "layout/theme-panel";  // theme customizer panel
@import "layout/quick-sidebar";  // quick sidebar toggler

@import "quick-sidebar/quick-sidebar";  // quick sidebar content
@import "quick-sidebar/quick-nav";  // quick navigation

@import "layout/boot-reset";

/***
Page Loading
***/

.page-on-load {
	background: #fefefe;

	.page-header,
	.page-container,
	.page-footer,
	> .clearfix {
		display: none;
		transition: all 2s;
	}
}
